p {
    text-shadow: -1px -1px 1px $color-black;
      color: $color-white;
      font-family: system-ui;
      font-size: 2.8em;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
  }
  
  h1 {
      color: $color-white;
      font-family: system-ui;
      font-size: 1.5em;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
  }
 
  legend {
      text-shadow: -1px -1px 1px $color-black;
      color: $color-white;
      font-family: system-ui;
      font-weight: lighter;
      font-size: 2.4em;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
  }
  
  label {
      text-shadow: -1px -1px 1px $color-black;
      color: $color-white;
      font-family: system-ui;
      font-weight: lighter;
      font-size: 1.7em;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
      margin-left: 5%;
      margin-top: 5%;
  }